.Amenities{
    
    background-image:url("wall.jpg");
    background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center ; 
      
    }

.Amen{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    
    
}

.Amen_Title{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    margin-top: 10PX;
    text-align: center;

}

