.invoice_Bacground{
    background-image:url("checkout.jpg");
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center ;
}


.invoice_Container{
    background-color: white;
    margin-top: 5px;

}

.invoice_Title{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    background-color: red;
    color: white;
}
